[submodule "3dparty/torch2trt"]
	path = 3dparty/torch2trt
	url = https://github.com/NVIDIA-AI-IOT/torch2trt
	branch = master

[submodule "3dparty/dbg-macro"]
	path = 3dparty/dbg-macro
	url = https://github.com/sharkdp/dbg-macro.git
	branch = master
[submodule "3dparty/PX4-Matrix"]
	path = 3dparty/PX4-Matrix
	url = https://github.com/PX4/PX4-Matrix.git
	branch = master
